.regist
{
    width: 100%;
    height: 100%;
    .layout
    {
        width: 100%;
        height: 100%;
    }
    .content
    {
        padding: 24px;
        height: 100%;
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        .login-form{
            max-width: 500px;
            .login-form-button
            {
                margin-right: 40px;
            }
        }
    }

}